@charset "UTF-8";
@font-face {
  font-family: "VA-11";
  src: url("../font/font.ttf");
}

/* line 1, D:/phpStudy/WWW/bootstrap-va11/scss/base/_normalize.scss */
h1, h2, h3, h4, h5 {
  color: #FFF;
}

/* line 5, D:/phpStudy/WWW/bootstrap-va11/scss/base/_normalize.scss */
a {
  color: #808080;
}

/* line 2, D:/phpStudy/WWW/bootstrap-va11/scss/base/_base.scss */
body {
  font-family: "VA-11";
  background: #264BFF;
}

/* line 7, D:/phpStudy/WWW/bootstrap-va11/scss/base/_base.scss */
.va11-theme {
  background: black;
  border-left: 4px solid #FFF;
  border-right: 4px solid #FFF;
}

/* line 13, D:/phpStudy/WWW/bootstrap-va11/scss/base/_base.scss */
.va11-nopadding {
  padding: 0px;
}

/* Moudles */
/*
    按鈕控件主題
*/
/* line 4, D:/phpStudy/WWW/bootstrap-va11/scss/modules/_buttons.scss */
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger, .btn-link {
  border-radius: 0%;
  padding: 5px;
  border: none;
}

/* line 9, D:/phpStudy/WWW/bootstrap-va11/scss/modules/_buttons.scss */
.btn-default {
  background: transparent;
  color: white;
}

/* line 13, D:/phpStudy/WWW/bootstrap-va11/scss/modules/_buttons.scss */
.btn-default:hover {
  background: white;
  color: black;
}

/* line 17, D:/phpStudy/WWW/bootstrap-va11/scss/modules/_buttons.scss */
.btn-primary {
  background: #87A6E3;
}

/* line 20, D:/phpStudy/WWW/bootstrap-va11/scss/modules/_buttons.scss */
.btn-success {
  background: #76D969;
}

/* line 23, D:/phpStudy/WWW/bootstrap-va11/scss/modules/_buttons.scss */
.btn-info {
  background: #3CE2E2;
}

/* line 26, D:/phpStudy/WWW/bootstrap-va11/scss/modules/_buttons.scss */
.btn-warning {
  background: #FFA043;
}

/* line 29, D:/phpStudy/WWW/bootstrap-va11/scss/modules/_buttons.scss */
.btn-danger {
  background: #DA5D58;
}

/* line 32, D:/phpStudy/WWW/bootstrap-va11/scss/modules/_buttons.scss */
.btn-link {
  color: #808080;
}

/* line 35, D:/phpStudy/WWW/bootstrap-va11/scss/modules/_buttons.scss */
.btn-link:hover {
  color: #FFF;
}

/* line 1, D:/phpStudy/WWW/bootstrap-va11/scss/modules/_panels.scss */
.panel {
  margin-bottom: 20px;
  background-color: black;
  border: 3px solid inherit;
  border-radius: 0%;
  -webkit-box-shadow: 0;
  box-shadow: 0;
}

/* line 9, D:/phpStudy/WWW/bootstrap-va11/scss/modules/_panels.scss */
.panel-heading {
  padding: 2px;
  border-radius: 0%;
}

/* line 14, D:/phpStudy/WWW/bootstrap-va11/scss/modules/_panels.scss */
.panel-title {
  font-weight: bold;
}

/* line 17, D:/phpStudy/WWW/bootstrap-va11/scss/modules/_panels.scss */
.panel-body {
  color: white;
}

/* line 20, D:/phpStudy/WWW/bootstrap-va11/scss/modules/_panels.scss */
.panel-default > .panel-heading {
  color: black;
  background-color: white;
  border-color: transparent;
}

/* Layouts */
/* line 1, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.navbar {
  margin: 0px;
  border-radius: 0px;
  min-height: 25px;
}

/* line 6, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.navbar-nav li a {
  line-height: 25px;
  height: 25px;
  padding-top: 0;
}

/* line 12, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.navbar-brand {
  line-height: 25px;
  height: 25px;
  padding-top: 0;
  font-weight: bold;
}

/* line 19, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.navbar-default {
  background-color: #f8f8f8;
  border: 0px;
}

/* line 24, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.navbar-default .navbar-brand {
  color: black;
}

/* line 27, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: black;
  background-color: transparent;
}

/* line 32, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.navbar-default .navbar-text {
  color: black;
}

/* line 36, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.navbar-default .navbar-nav > li > a {
  color: black;
  font-weight: bold;
  font-size: 16px;
}

/* line 41, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: black;
}

/* line 46, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: black;
}

/* line 52, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}

/* line 58, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.navbar-default .navbar-toggle {
  border-color: #ddd;
}

/* line 61, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}

/* line 65, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}

/* line 68, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}

/* line 72, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}

@media (max-width: 767px) {
  /* line 79, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  /* line 82, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  /* line 87, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  /* line 93, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}

/* line 100, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.navbar-default .navbar-link {
  color: #777;
}

/* line 103, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.navbar-default .navbar-link:hover {
  color: #333;
}

/* line 106, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.navbar-default .btn-link {
  color: #777;
}

/* line 109, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333;
}

/* line 113, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}

/* line 119, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.dropdown-menu {
  border-radius: 0px;
  border: none;
}

/* line 123, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: white;
  text-decoration: none;
  background-color: black;
}

/* line 129, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.dropdown-menu > li > a {
  font-weight: bold;
}

/* line 132, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}

/* line 140, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}

/* line 145, D:/phpStudy/WWW/bootstrap-va11/scss/layouts/_nav.scss */
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

/*# sourceMappingURL=../css/main.map */