@charset "UTF-8";
@font-face {
  font-family: "VA-11";
  src: url("../font/font.ttf"); }
h1, h2, h3, h4, h5 {
  color: #FFF; }

a {
  color: #808080; }

body {
  font-family: "VA-11";
  background: #1F1A2D;
  color: #fafafa;
  cursor: url("../img/Va11halla_Pointer.png"), auto; }

:hover {
  cursor: url("../img/Va11halla_Pointer.png"), auto; }

.va11-theme {
  background: black;
  border-left: 4px solid #FFF;
  border-right: 4px solid #FFF; }

.va11-theme-border {
  background: black;
  border-left: 4px solid #FFF;
  border-top: 4px solid #FFF;
  border-bottom: 4px solid #FFF;
  border-right: 4px solid #FFF; }

.va11-nopadding {
  padding: 0px; }

/* Moudles */
/*
    按鈕控件主題
*/
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger, .btn-link {
  border-radius: 0%;
  padding: 5px;
  border: none; }

.btn-default {
  background: transparent;
  color: white; }

.btn-default:hover {
  background: white;
  color: black; }

.btn-primary {
  background: #87A6E3; }

.btn-primary:hover {
  background: #90caf9; }

.btn-success {
  background: #81c784; }

.btn-success:hover {
  background: #a5d6a7; }

.btn-info {
  background: #4dd0e1; }

.btn-info:hover {
  background: #81d4fa; }

.btn-warning {
  background: #ffb74d; }

.btn-warning:hover {
  background: #ffd54f; }

.btn-danger {
  background: #DA5D58; }

.btn-danger:hover {
  background: #e57373; }

.btn-link {
  color: #fafafa; }

.btn-link:hover {
  color: #FFF; }

.form-control {
  border-radius: 1;
  border: none;
  box-shadow: none; }

input[type="text"] {
  line-height: normal;
  border: 1px solid #FFF;
  background-color: transparent;
  color: #FFF; }

input[type="text"]:hover {
  border: 1px solid #87A6E3; }

input[type="number"] {
  line-height: normal;
  border: 1px solid #FFF;
  background-color: transparent;
  color: #FFF; }

input[type="number"]:hover {
  border: 1px solid #87A6E3; }

input[type="email"] {
  line-height: normal;
  border: 2px solid #FFF;
  background-color: transparent;
  color: #FFF; }

input[type="email"]:hover {
  border: 1px solid #87A6E3; }

input[type="password"] {
  line-height: normal;
  border: 1px solid #FFF;
  background-color: black;
  color: #FFF; }

input[type="password"]:hover {
  border: 1px solid #87A6E3; }

input[type="submit"] {
  line-height: normal;
  border: 1px solid #FFF;
  background-color: black;
  color: #FFF; }

button[type="submit"] {
  line-height: normal;
  border: none;
  background-color: #81c784;
  color: #FFF; }

button[type="submit"]:hover {
  line-height: normal;
  border: none;
  background-color: #a5d6a7;
  color: #FFF; }

.panel {
  margin-bottom: 20px;
  background-color: black;
  border: 3px solid inherit;
  border-radius: 0%;
  -webkit-box-shadow: 0;
  box-shadow: 0; }

.panel-heading {
  padding: 2px;
  border-radius: 0%; }

.panel-title {
  font-weight: bold; }

.panel-body {
  color: white; }

.panel-default > .panel-heading {
  color: black;
  background-color: white;
  border-color: transparent; }

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 0px solid transparent;
  border-radius: 0px;
  font-size: 16px; }

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
  color: black; }

.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
  color: black; }

/* Layouts */
.navbar {
  margin: 0px;
  border-radius: 0px;
  min-height: 25px; }

.navbar-nav li a {
  line-height: 25px;
  height: 25px;
  padding-top: 0; }

.navbar-brand {
  line-height: 25px;
  height: 25px;
  padding-top: 0;
  font-weight: bold; }

.navbar-toggle {
  position: relative;
  float: right;
  padding: 1px 1px;
  margin-top: 3px;
  margin-right: 5px;
  margin-bottom: 0px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 1px; }

.navbar-default {
  background-color: #f8f8f8;
  border: 0px; }

.navbar-default .navbar-brand {
  color: black; }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: black;
  background-color: transparent; }

.navbar-default .navbar-text {
  color: black; }

.navbar-default .navbar-nav > li > a {
  color: black;
  font-weight: bold;
  font-size: 16px; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: black; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: black; }

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent; }

.navbar-default .navbar-toggle {
  border-color: #ddd; }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent; }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7; }

  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent; } }
.navbar-default .navbar-link {
  color: #777; }

.navbar-default .navbar-link:hover {
  color: #333; }

.navbar-default .btn-link {
  color: #777; }

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333; }

.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc; }

.dropdown-menu {
  border-radius: 0px;
  border: none; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: white;
  text-decoration: none;
  background-color: black; }

.dropdown-menu > li > a {
  font-weight: bold; }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0; }

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777; }

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }

/* nasted dropdown style fix */
.dropdown-submenu {
  position: relative; }

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px; }

.marquee-top-fixed {
  height: 50px;
  background-color: #366E8F;
  font-size: 30px;
  line-height: 50px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1; }

.marquee-bottom-fixed {
  height: 50px;
  background-color: #366E8F;
  font-size: 30px;
  line-height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 1; }

/* Effects */
.va-11-box-shadow {
  padding: 10px;
  box-shadow: 10px 10px black; }

/*# sourceMappingURL=main.css.map */
