
body {
    font-family: "VA-11";
    background: #264BFF;
}

.va11-theme {
    background: black;
    border-left: 4px solid #FFF;
    border-right: 4px solid #FFF;
   
}
.va11-nopadding {
    padding: 0px;
}