$primary-color: #87A6E3;
$primary-color-hover: #90caf9;
$success-color: #81c784;
$success-color-hover: #a5d6a7;
$info-color: #4dd0e1;
$info-color-hover: #81d4fa;
$warning-color: #ffb74d;
$warning-color-hover: #ffd54f;
$danger-color: #DA5D58;
$danger-color-hover: #e57373;
$link-color: #fafafa;
$link-color-hover: #FFF;