$primary-color: #87A6E3;
$primary-color-hover: #b9d7ff;
$success-color: #a1c771;
$success-color-hover: #d3faa1;
$info-color: #4dd0e1;
$info-color-hover: #81d4fa;
$warning-color: #FEC73D;
$warning-color-hover: #fffa70;
$danger-color: #e22743;
$danger-color-hover: #ff636e;
$link-color: #fafafa;
$link-color-hover: #FFF;