$primary-color: #87A6E3;
$primary-color-hover: #b9d7ff;
$success-color: #a1c771;
$success-color-hover: #d3faa1;
$info-color: #2196f3;
$info-color-hover: #6ec6ff;
$warning-color: #ffa043;
$warning-color-hover: #ffd173;
$danger-color: #e22743;
$danger-color-hover: #ff636e;
$link-color: #fafafa;
$link-color-hover: #FFF;