/*
    按鈕控件主題
*/
.btn-default,.btn-primary,.btn-success,.btn-info,.btn-warning,.btn-danger,.btn-link {
    border-radius: 0%;
    padding: 5px;
    border: none;
}
.btn-default {
    background: transparent;
    color: white;
}
.btn-default:hover {
    background: white;
    color: black;
}
.btn-primary {
    background: #87A6E3;
}
.btn-success{
    background: #81c784;
}
.btn-info {
    background: #4dd0e1;
}
.btn-warning {
    background: #ffb74d;
}
.btn-danger {
    background: #DA5D58;
}
.btn-link {
    color: #fafafa;
}
.btn-link:hover {
    color: #fafafa;
}