.modal-content {
    position: relative;
    background-color: black;
    border-top: 1px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
            box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
}

.modal-header{
    background: white;
    color:black !important; 
    border: none;
    padding: 2px;
}

.modal-title {
    color:black !important; 
    margin: 0;
    font-weight: bold;
}
.modal-header .close {
    margin-top: 0px;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
  }